<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vault</title>
</head>
<body>

<form action="{{ url_for('login') }}" method="post">
        <input type="text" name="username" id="uname" placeholder="Enter your user ID"><br>
        <input type="password" name="password" id="password" placeholder="Enter your Password"><br>
        <input type="submit" name="Login">
</form>

<form action="{{ url_for('signup') }}" method="post">
    <input type="text" name="username" id="uname" placeholder="Enter your user ID"><br>
    <input type="text" name="firstname" id="fname" placeholder="Enter your first name"><br>
    <input type="text" name="lastname" id="lname" placeholder="Enter your last name"><br>
    <input type="number" name="mobile" id="mobile" placeholder="Enter your mobile number"><br>
    <input type="email" name="email" id="email" placeholder="Enter your Email ID"><br>
    <input type="password" name="password" id="password" placeholder="Enter your Password"><br>
    <input type="submit" name="Signup">

</form>
</body>
</html>